body {
  background-color: #FEFAE0;
  max-width: 1140px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: #B99470;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.navbar {
  margin: 0 auto;
  max-width: 1140px;
  height: 80px;
  padding: 0 30px;
}
.verde-bosque {
  color: #A6B37D;
}
.img-fluid {
  border: none;
}
.logo {
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
}
.navbar-nav .nav-item a {
  color: #FEFAE0;
  font-size: 1rem;
}
.navbar-nav .nav-item a:hover {
  color: #C0C78C; 
}
.parrafoexp {
  font-size: .80rem;
}
.text-box {
  background-color: rgba(255, 255, 255, 0.37);
  padding: 10px;
  border-radius: 5px;
}
.text-box, .txt {
  color: rgb(53, 53, 53);
}
.btn-custom {
  background-color: #C0C78C;
  border: none;
  color: #474747;

  &:hover {
    background-color: #A6B37D; 
    border: none;
    color: #e9e9e9;
  }

  &:active {
    background-color: #738959; 
    box-shadow: none;
  }
}
.row, .parrafo {
  font-size: 1.10em;
}
.overlay {
  position: absolute;
  top: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
}
.grayscale {
  filter: grayscale(100%);
}
.galeria {
  display: flex;
  width: 900px;
  height: 530px;
  padding-bottom: 50px;
}
.galeria img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
.galeria img:hover {
  cursor: crosshair;
  width: 400px;
  opacity: 1;
  filter: contrast(120%);
}
.bi {
  font-size: 2rem;
  color: #333;
}
.interior, .row{
  overflow: hidden;
}
.interior img:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
  overflow: hidden; 
}
h6 {
  font-size: 1.25rem;
  font-weight: 400;
}
li {
  font-size: .85rem;
  list-style: none;
}
.footer {
  background-color: #B99470;
  margin: 0 auto;
  width: 1140px;
  padding-top: 40px;
}
.img-fuild, .grises:hover {
  filter: grayscale(0);
}
.txt-footer {
  font-size: .80rem;
  line-height: 1.2;
  color: #FEFAE0; 
}
.menufooter a {
  color: #FEFAE0; 
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.7;
}
.menufooter a:hover {
  color: #22543D;
}
#experiencia, #per, #nuestroshoteles, #servicios {
  background-color: #C0C78C;
}
.parrafoexp {
  width: 900px;
  margin: 0 auto;
}
.form-control {
  border-color: #B99470;
}
.btn-primary {
  background-color: #C0C78C;
  border-color: #C0C78C;
  padding: 16px 40px;
  font-size: 1.25rem;
}
.btn-primary:hover {
  background-color: #A6B37D;
  border-color: #A6B37D;
}

